body {
  background-color: grey;
}

h1 {
  padding-top: .5em;
}

article {
  padding-top: .5em;
  padding-bottom: .5em;
}

.icon {
  height: 15px;
  padding: 2px;
}

.container {
  background-color: #edffe8;
}

#nav {
  background-color: #f9fff7;
  font-size: 12pt;
  color: #397227;
}

a {
  color: #397227;
}
.col-xs-10 {
  border: solid black;
}
