body {
  background-color: grey;
}
.container {
  background-color: #edffe8;
}

#sidenav {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9fff7;
  font-size: 16pt;
  color: #397227;
  line-height: 2;
}

a {
  color: #397227;
}
.col-xs-10 {
  border: solid black;
}
