{% extends "tracker/base.html" %}

 {% block title %}Logs{% endblock %}
  {% block content %}
    <h1>Garden Log</h1>
    <ul>
        {% for log in log_list %}
            <li>Log for {{ log.date }}:</li>

            <ul>
              <li>{{ log.notes }}</li>
              {% for note in log.plantingnotes %}
              <li>
                  {{ note.planting.plant.name }}:
                  {{ note.note }}
              </li>
              {% endfor %}
            </ul>
            {% if log.newplanting %}
              Planted:
              <ul>
                {% for newplant in log.newplanting %}
                <li>
                  {{ newplant.plant.name }}
                </li>
                {% endfor %}
              </ul>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
