<!DOCTYPE html>
<html>
<head>
    <title>Plants</title>
</head>
<body>
    <h1>Garden Logs</h1>
    <ul>
        {% for plant in plant_list %}
            <li><strong>{{ plant.name }}</strong>:
              <ul>
                {% for planting in plant.plantings %}
                  <li>
                    Planted on {{ planting.date }} in
                    {{ planting.location.name }}
                    {% if planting.description %}: {{ planting.description }}{% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
