<!DOCTYPE html>
<html>
<head>
    <title>Plants</title>
</head>
<body>
    <h1>Garden Logs</h1>
    <ul>
        {% for plant in plant_list %}
            <li>{{ plant.name }}:
              {% for planting in plant.plantings %}
                {{ planting.date }}
                {{ planting.location.name }}
              {% endfor %}
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for plant, plantings in plants.items %}
            <li>{{ plant }}: {% for p in plantings %}{{ p.date }} {{ p.location }}{% endfor %}</li>
        {% endfor %}
    </ul>

</body>
</html>
